<body class="dashboard dashboard_1">
    <div class="full_container">
       <div class="inner_container">
          <!-- Sidebar  -->
          <nav id="sidebar">
             <div class="sidebar_blog_1">
                <div class="sidebar-header">
                   <div class="logo_section">
                      <a href="index.html"><img class="logo_icon img-responsive" src="/images/logo/logo_icon.png" alt="#" /></a>
                   </div>
                </div>
                <div class="sidebar_user_info">
                   <div class="icon_setting"></div>
                   <div class="user_profle_side">
                      <div class="user_img"><img class="img-responsive" src="/images/layout_img/user_img.jpg" alt="#" /></div>
                      <div class="user_info">
                         <h6>John David</h6>
                         <p><span class="online_animation"></span> Online</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="sidebar_blog_2">
                <h4>General</h4>
                <ul class="list-unstyled components">
                   <li class="active">
                      <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                      <ul class="collapse list-unstyled" id="dashboard">
                         <li>
                            <a href="dashboard.html">> <span>Default Dashboard</span></a>
                         </li>
                         <!-- <li>
                            <a href="dashboard_2.html">> <span>Dashboard style 2</span></a>
                         </li> -->
                      </ul>
                   </li>
                   <!-- <li><a href="widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>Widgets</span></a></li> -->
                   <li>
                      <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Masters</span></a>
                      <ul class="collapse list-unstyled" id="element">
                         <li><a href="/master/schools">> <span>Schools</span></a></li>
                         <li><a href="/master/teachers">> <span>Teachers</span></a></li>
                         <li><a href="/master/students">> <span>Students</span></a></li>
                         <li><a href="/master/designations">> <span>Designation</span></a></li>
                         <li><a href="/master/subjects">> <span>Subjects</span></a></li>
                         <li><a href="/master/class-rooms">> <span>Class Rooms</span></a></li>
                         <li><a href="/master/sections">> <span>Sections</span></a></li>
                      </ul>
                   </li>
                   <!-- <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Reports</span></a></li> -->
                   <li>
                      <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Reports</span></a>
                      <ul class="collapse list-unstyled" id="apps">
                         <li><a href="/reports/exam">> <span>Exam Reports</span></a></li>
                         <li><a href="/reports/test">> <span>Test Reports</span></a></li>
                         <li><a href="/reports/attandance">> <span>Attandance Reports</span></a></li>
                      </ul>
                   </li>
                   <!-- <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li> -->
                   <!-- <li>
                      <a href="contact.html">
                      <i class="fa fa-paper-plane red_color"></i> <span>Pricing </span></a>
                   </li> -->
                   <li class="active">
                      <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Pricing</span></a>
                      <ul class="collapse list-unstyled" id="additional_page">
                         <li>
                            <a href="/pricing/fee">> <span>Fee</span></a>
                         </li>
                         <li>
                            <a href="/pricing/salary">> <span>Salary</span></a>
                         </li>
                      </ul>
                   </li>

                   <li class="active">
                    <a href="#complaints_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone green_color"></i> <span>Complaints</span></a>
                    <ul class="collapse list-unstyled" id="complaints_page">
                       <li>
                          <a href="/complaints/teachers">> <span>Teacher's Complaints</span></a>
                       </li>
                       <li>
                          <a href="/complaints/Students">> <span>Student's Complaints</span></a>
                       </li>
                       <li>
                          <a href="/complaints/Staff">> <span>Staff's Complaints</span></a>
                       </li>
                       <li>
                          <a href="/complaints/others">> <span>Other Complaints </span></a>
                       </li>
                    </ul>
                 </li>
              
                <li>
                    <a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Fines</span></a></li> 
                </li>
                <li>
                    <a href="map.html"><i class="fa fa-photo red_color"></i> <span>Events</span></a></li> 
                </li>
                
<!-- 
                   <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                   <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li> -->
                   <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                </ul>
             </div>
          </nav>
          <!-- end sidebar -->