<%- include('../layouts/main_layout')  %>
<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Change Password</h2>
            </div>
         </div>
      </div>
      <!-- row -->
      <div class="row">



         <!-- Details -->
         <div class="col-md-6 mx-auto">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  
                     <div class="text-center h3 col-md-12 ">Change Your Password </div>
                     <% if (msg.length > 0) { %>
                        <div class="alert alert-dismissible alert-success col-md-12" role="alert"> 
                           <strong>Great ! </strong> <%= msg %>
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                     <% } %>
                     <% if (err.length > 0) { %>
                        <div class="alert alert-danger alert-dismissible col-md-12" role="alert">
                           <strong> Opps ! </strong><%= err %>
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                     <% } %>
                  
               </div>
               <div class="table_section padding_infor_info">
                
                     <form action="" class="needs-validation" novalidate method="POST">
                       <div class="row">
                        <div class="form-group col-md-12 ">
                           <label class="col-md-12 text-center h5" for="old_password">Old Password</label>
                           <div class="input-group">
                              <input type="password" placeholder="Old Password" id="old_password" name="old_password" class="form-control text-center is-valid" >
                              <button type="button" class="btn btn-white "  onclick="passeord_show_hide('op_eye_open','op_eye_close','old_password')" id="op_eye_open" ><i class="fa fa-eye text-secondary"></i></button>
                              <button type="button" class="btn btn-white "  onclick="passeord_show_hide('op_eye_open','op_eye_close','old_password')" id="op_eye_close" ><i class="fa fa-eye-slash text-secondary"></i></button>
                           </div>
                           <div class=" text-center valid-feedback">correct</div>
                        </div>


                        <div class="form-group col-md-12 ">
                           <label class="col-md-12 text-center h5" for="new_password">New Password</label>
                           <div class="input-group">
                              <input type="password" placeholder="New Password" id="new_password" name="new_password" class="form-control text-center is-invalid" >
                              <button type="button" class="btn btn-white " onclick="passeord_show_hide('np_eye_open','np_eye_close','new_password')" id="np_eye_open" ><i class="fa fa-eye text-secondary"></i></button>
                              <button type="button" class="btn btn-white " onclick="passeord_show_hide('np_eye_open','np_eye_close','new_password')" id="np_eye_close" ><i class="fa fa-eye-slash text-secondary"></i></button>
                           </div>
                           <div class="text-center invalid-feedback">incorrect</div>
                        </div>


                        <div class="form-group col-md-12 ">
                           <label class="col-md-12 text-center h5" for="confirm_password">Confirm Password</label>
                           <div class="input-group">
                              <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" class="form-control text-center" required>
                              <button type="button" class="btn btn-white " onclick="passeord_show_hide('cp_eye_open','cp_eye_close','confirm_password')" id="cp_eye_open"><i class="fa fa-eye text-secondary"></i></button>    
                              <button type="button" class="btn btn-white " onclick="passeord_show_hide('cp_eye_open','cp_eye_close','confirm_password')" id="cp_eye_close"><i class="fa fa-eye-slash text-secondary"></i></button>    
                           </div>
                           <div class="valid-tooltip">
                            Looks good!
                          </div>
                        </div>


                        <div class="form-group col-md-12">
                            <button class="btn btn-sm btn-success col-md-12">Submit</button>
                            <!-- <div class="btn btn-sm btn-success col-md-12">Submit</div> -->
                        </div>

                    </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script>
      $('#op_eye_close').hide();
      $('#np_eye_close').hide();
      $('#cp_eye_close').hide();

      function passeord_show_hide(show_id,hide_id,pass_id)
      {
         if($('#'+pass_id).attr('type')=='password')
         {
            $('#'+pass_id).attr('type','text');
         }else
         {
            $('#'+pass_id).attr('type','password');
         }
         $('#'+show_id).toggle();
         $('#'+hide_id).toggle();
      }
   </script>
<!-- end dashboard inner -->
<%- include('../layouts/footer')  %>