<%- include('../layouts/head.ejs')%>

<div class="container">
    <div class="row">
        <form>
            <div class="card col-md-5 mx-auto my-auto " style="transform: translateY(50%);">
                <div class="card-header">
                    <h6 class="header-title text-center"><%- data %></h6>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group mt-2">
                                <label for="email"><i class='bx bx-user' ></i>Email</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                        
                            <div class="form-group mt-2">
                                <button class="btn btn-success col-md-12"><i class='bx bx-mail-send' ></i> Send </button>
                            </div>
                            <div class="float-end text-right"><a href="/login"><span class="text-right float-start" style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Already have a account &rarr;</span> </a><a href="/register"><span class="float-end" style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> &larr; I have no account </span></a></div>
                        
                        </div>
                        
                    </div>
            </div>
        </form>
    </div>
</div>
<script>
    // alert('ok');
    // alert($('button').html());
</script>
<%- include('../layouts/footer.ejs') %>